@font-face {
  font-family: 'lifehack-medium';
  src: url("../fonts/lifehack/medium/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/medium/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gagalin-regular';
  src: url("../fonts/gagalin/regular/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/regular/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-bold';
  src: url("../fonts/ubuntu/bold/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/bold/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-light';
  src: url("../fonts/ubuntu/light/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/light/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-medium';
  src: url("../fonts/ubuntu/medium/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/medium/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-regular';
  src: url("../fonts/ubuntu/regular/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/regular/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu-light', sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  height: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  height: 100%; }

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.section {
  width: 1100px;
  min-height: 650px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  padding: 15px 0 0 75px; }

.header__nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 90%;
          flex: 2 1 90%; }

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.container-greeting {
  background: url("../img/bg/video-bg.jpg") no-repeat;
  background-size: cover;
  height: 100%; }

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-family: 'ubuntu-medium', sans-serif;
  padding: 25px 80px 0 0; }

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 90%;
          flex: 2 1 90%;
  margin-right: 5px; }

.nav-menu__link {
  text-decoration: none;
  color: #fff;
  margin: 0 7px 0 7px; }
  .nav-menu__link:hover {
    text-decoration: underline; }

.nav-menu__item {
  list-style: disc;
  padding-top: 10px;
  margin-left: 20px;
  text-transform: uppercase; }
  .nav-menu__item:first-child {
    list-style: none; }

.nav-menu__btn {
  padding: 0 10px 0 10px;
  height: 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  background: #e45028;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
  color: #fff; }
  .nav-menu__btn:hover {
    background: #c13c18; }

.greeting-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }

.greeting-item__img-wrap {
  padding-left: 40px; }

.greeting-item__descr {
  padding: 150px 0 0 70px; }

.greeting-item__descr-text--top {
  font-family: 'gagalin-regular', sans-serif;
  font-size: 72px;
  color: #f9b43b; }

.greeting-item__descr-text--bottom {
  font-family: 'lifehack-medium', sans-serif;
  font-size: 65px;
  color: #fff; }

.greeting-arrow {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  margin-top: auto; }

.container-best {
  background: url("../img/bg/best-bg.jpg") no-repeat;
  background-size: cover;
  height: 100%; }

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.best-description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.title-wrap {
  margin-top: 30px; }

.title {
  font-family: 'gagalin', sans-serif;
  font-size: 72px; }

.best-description__item {
  width: 300px; }

.best-description__img {
  width: 100px;
  height: 100px;
  margin: auto; }

.best-description__title {
  font-family: 'lifehack', sans-serif;
  font-size: 24px;
  margin: 30px 0 15px 0; }

.best-description__text {
  font-size: 14px;
  color: #2f3234;
  opacity: .8; }

.best-description__img--meat {
  background: url("../img/decor/meat.png") center center no-repeat; }

.best-description__img--hand {
  background: url("../img/decor/hand.png") center center no-repeat; }

.best-description__img--natural {
  background: url("../img/decor/natural.png") center center no-repeat; }

.container-reviews {
  background: #3d3d3d;
  background-size: cover;
  height: 100%; }

.reviews {
  width: 100%;
  background-color: #000; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }

.reviews__item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-box-shadow: inset -200px -200px 0px 200px rgba(0, 0, 0, 0.49);
  box-shadow: inset -200px -200px 0px 200px rgba(0, 0, 0, 0.49); }
  .reviews__item:hover .reviews__hover {
    left: 0; }

.reviews__item--photo-1 {
  background: url("../img/content/photo-1.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-2 {
  background: url("../img/content/photo-2.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-3 {
  background: url("../img/content/photo-3.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-4 {
  background: url("../img/content/photo-4.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-5 {
  background: url("../img/content/photo-5.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-6 {
  background: url("../img/content/photo-6.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-7 {
  background: url("../img/content/photo-7.png") center center no-repeat;
  background-size: cover; }

.reviews__item--photo-8 {
  background: url("../img/content/photo-8.png") center center no-repeat;
  background-size: cover; }

.reviews__hover {
  position: relative;
  left: -999999px;
  padding: 70px 20px 10px 20px;
  color: #fff;
  font-size: 14px; }

.reviews__title {
  font-family: 'gagalin', sans-serif;
  margin-bottom: 20px; }

.reviews__text {
  line-height: 25px;
  margin-bottom: 20px; }

.reviews__btn {
  display: inline-block;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  font-size: 13px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */