.footer {
  background: url('../images/bg/footer-bg.jpg') center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10px) 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.footer__col {
  width: 50%;
  margin-bottom: rem(15px);

  @include phones {
    width: 100%;
    text-align: center;
  }
}

.footer__address {
  color: #ffffff;
  font-size: rem(14px);
}

.footer__phone {
  color: $red;
  @include ubuntu(bold);
  text-decoration: none;
  font-size: rem(14px);
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;

  @include phones {
    justify-content: center;
  }
}

.socials {
  position: relative;
  top: 50%;
  display: flex;
  align-items: center;
}

.socials__item {
  margin-left: rem(10px);
}

.socials__link {
  display: inline-block;
  max-width: rem(23px);
  max-height: rem(20px);
  opacity: .3;
  transition: .3s;

  &:hover {
    opacity: 1;
  }
}

.socials__link-icon {
  width: rem(20px);
  height: rem(20px);
}

.google-map {
  width: 100%;
  height: 100vh;
}
