@import "../config/variables.scss";

.greeting {
  background-image: url("../images/bg/greeting-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $greeting-bg-color;

  &__container {
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    transform: translateY(-40px);
  }

  &__pic {
    width: 100%;
  }

  &__desc {
    text-align: center;
  }

  &__desc-text {
    color: #ffffff;
    font-size: rem(52px);
    line-height: 1.2;
  }
}

.go-down-btn {
  display: inline-block;
  margin: 0 auto rem(100px);
}

.go-down-img {
  fill: #ffffff;
  width: rem(29px);
  height: rem(14px);

  &:hover {
    fill: darken(#ffffff, 30%)
  }
}

@media (min-width: $desktop-width) {
  .greeting {
      @include tablets {
        width: 86%;
        text-align: center;
      }

    &__pic {
      @include tablets {
        max-width: 60%;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      padding-top: rem(115px);
      margin: auto;

      @include tablets {
        padding-top: 0;
      }

      @include phones {
        font-size: rem(54px);
      }
    }

    &__desc-text {
      @include lifehack;
      font-size: rem(65px);

      line-height: rem(65px);

      @include tablets {
        font-size: rem(63px);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: #2f3234;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    .nav__list {
      display: inline-block !important;
    }
  }

  .container {
    position: relative;
  }

  .content {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    font: 16px Helvetica, sans-serif;
    margin: 0;
  }

  .close {
    font: 26px Helvetica, sans-serif;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 30px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
  }

  .nav--small-width {
    display: flex;
    flex-direction: column;
    height: 100%;

    .nav__list {
      margin: auto;

      .nav__item {
        display: flex;
        flex-direction: column;

        .nav__link {
          font-size: 24px;
          font-family: 'ubuntu-regular', sans-serif;
          margin: 30px 0;
        }
      }
    }
  }
}
