.reviews {
  position: absolute;
}

.reviews__list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s;
  background: rgba(#141414, .7);
  color: #fff;
  font-size: rem(14px);
  padding: rem(50px) rem(25px) 0;

  @include tablets {
    text-align: center;
    padding: rem(20px) rem(25px) 0;
  }

  @include phones {
    display: flex;
    flex-direction: column;
  }
}

.reviews__title {
  @include gagalin();

  @include phones {
    margin-top: auto;
  }
}

.reviews__text {
  margin: rem(30px) 0 rem(20px);
  line-height: rem(28px);

  @include tablets {
    margin: rem(5px) 0 rem(5px);
    line-height: 20px;
    font-size: 10px;
  }

  @include phones {
    display: none;
  }
}

.overrlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#141414, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.overlay-active {
  display: inherit;
}

.coontainer {
  position: absolute;
  width: 460px;
  height: 250px;
  z-index: 20;
  display: none;
}

.coontainer-active {
  display: inherit;
}

.coontent {
  width: 460px;
  height: 250px;
  background: #fff;
  border-radius: 5px;
  padding: 30px 20px;
  color: #3d3d3d;
  font: 16px Helvetica, sans-serif;
  margin: 0;

  &>b {
    @include gagalin();
  }
}

.cllose {
  font: 26px Helvetica, sans-serif;
  color: $orange;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
