@import "../config/variables.scss";

.header {
  display: flex;
  align-items: center;

  &__logo {
    margin: 20px 0;
  }

  &__btns {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    margin-right: rem(15px);

    @include tablets() {
      display: none;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: #fff;
      display: block;
      margin: 0 rem(15px);
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  &__nav-link {
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__order-btn {
    margin-right: 60px;
    transform: translateY(-2px);
  }
}
