<section class="section greeting" id="greeting">
  <div class="container greeting__container">
    <div class="greeting__content">
      <div class="greeting__img">
        <img src="images/decor/burger.png" alt="burger" class="greeting__pic" />
      </div>
      <div class="greeting__desc">
        <h1 class="section-title section-title_align_bottom">мы делаем</h1>
        <div class="greeting__desc-text">натуральные бургеры</div>
      </div>
    </div>
    <a href="#best" class="go-down-btn">
      <svg class="go-down-img">
        <use xlink:href="./images/sprite/sprite.svg#arrow-scroll"></use>
      </svg>
    </a>
  </div>
</section>
