<header class="header">
  <a href="#" class="header__logo">
    <img src="images/logo/logo.svg" alt="mr.Burger" class="header__logo-pic" />
  </a>
  <div class="header__btns">
    <nav class="header__nav nav--large-width">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#best" class="header__nav-link">о нас</a>
        </li>
        <li class="header__nav-item">
          <a href="#slider" class="header__nav-link">бургеры</a>
        </li>
        <li class="header__nav-item">
          <a href="#team" class="header__nav-link">команда</a>
        </li>
        <li class="header__nav-item">
          <a href="#menu" class="header__nav-link">меню</a>
        </li>
        <li class="header__nav-item">
          <a href="#reviews" class="header__nav-link">отзывы</a>
        </li>
        <li class="header__nav-item">
          <a href="#contacts" class="header__nav-link">контакты</a>
        </li>
      </ul>
    </nav>
    <a href="#order" class="btn">заказать</a>
    <a class="hamburger-menu-link" href="">
      <div class="hamburger-menu-link__bars"></div>
    </a>
  </div>
</header>
