.reviews__list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item{
    width: 25%;
    height: 50%;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &:hover{
        .reviews__hover{
            opacity: 1; 
        }
    }
    @include tablets{
        width: 50%;
        height: 25%;
    }
}

.reviews__hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
    background: rgba(#141414, .7);
    color: #fff;
    font-size: rem(14px);
    padding: rem(50px) rem(25px) 0;
    @include tablets{
        text-align: center;
        padding: rem(20px) rem(25px) 0;
    }
    @include phones{
        display: flex;
        flex-direction: column;
    }
}

.reviews__title{
    @include gagalin();
    @include phones{
        margin-top: auto;
    }
}

.reviews__text{
    margin: rem(30px) 0 rem(20px);
    line-height: rem(28px);
    @include tablets{
        margin: rem(5px) 0 rem(5px);
        line-height: 20px;
        font-size: 10px;
    }
    @include phones{
        display: none;
    }
}