.container-reviews{
    background: #3d3d3d;
    background-size: cover;
    height: 100%;
}
.reviews{
    width: 100%;
    background-color: #000;
}
.reviews__list{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
.reviews__item{
    width: 25%;
    height: 50%;
    filter: grayscale(100%);
}
.reviews__item:hover{
    filter: grayscale(0);
    -webkit-box-shadow: inset -200px -200px 0px 200px rgba(0,0,0,0.49);
    -moz-box-shadow: inset -200px -200px 0px 200px rgba(0,0,0,0.49);
    box-shadow: inset -200px -200px 0px 200px rgba(0,0,0,0.49);
    .reviews__hover{
        left: 0;
    }
}
@each $photo in (photo-1, photo-2, photo-3, photo-4, photo-5, photo-6, photo-7, photo-8) {
    .reviews__item--#{$photo} {
        background: url('../img/content/#{$photo}.png')center center no-repeat;
        background-size: cover;
    }
}

.reviews__hover{
    position: relative;
    left: -999999px;
    padding: 70px 20px 10px 20px;
    color: #fff;
    font-size: 14px;
}

.reviews__title{
    font-family: 'gagalin', sans-serif;
    margin-bottom: 20px; 
}
.reviews__text{
    line-height: 25px;
    margin-bottom: 20px;
}
.reviews__btn{
    display: inline-block;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: $dark;
    color: #fff;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
