.team{
  background: url('../img/bg/team-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.team__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 45%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93);
  @include tablets{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.team__content{
  @include tablets{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.team__content-wrap{
  width: 71%;
  height: 93%;
  display: flex;
  align-items: center;
}

.team__title {
  font-family: 'gagalin-regular', sans-serif;
  color: #f9b43b;
  margin-top: 0;
}

.team-list{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0; 
  @include tablets{
    max-width: 65%;
  }
  @include phones{
    max-width: 80%;
  }
}

.team-list__item{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.375rem; 
}

.team-list__item--active .team-list__title {
  color: #f9b43b; 
}

.team-list__item--active .team-list__title::before {
  transform: rotate(180deg);
}

.team-list__item--active .team-list__content {
  margin-bottom: 0.3125rem; 
  height: rem(110px);
  @include tablets{
    flex-direction: column;
    text-align: center;
    height: rem(200px);
  }
}

.team-list__title{
  display: flex;
  align-items: center;
  line-height: 2;
  @include gagalin();
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer; 
  &::before {
      content: '';
      width: 0;
      height: 0;
      margin-right: 0.625rem;
      border: 0.3125rem solid transparent;
      border-top-color: #f9b43b;
      border-bottom: none;
  }
  @include tablets{
    font-size: 24px;
    margin: auto;
  }
}

.team-list__content {
  display: flex;
  height: 0;
  margin-top: 0.9375rem;
  overflow: hidden;
  transition: height 0.3s ease;
}

.team-list__descr-title{
  @include ubuntu($style: bold);
  margin-bottom: rem(15px);
  @include tablets{
    margin-top: 100px;
    margin-bottom: 10px;
  }
}

.team-list__descr {
  padding: 0 0.3125rem;
  color: #ffffff;
  font-size: rem(14px);
}

.team-list__img-wrap {
  display: flex;
  justify-content: center;
}

.team-list__img {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 1.0625rem;
  border-radius: 50%;
  overflow: hidden;
}

.team-list__pic{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}