<section class="section best">
  <div class="container">
    <div
      class="section-title section-title_color_black section-title_align_center"
    >
      мы лучшие
    </div>
    <ul class="best__list">
      <li class="best__item">
        <div class="best__icon">
          <svg class="best__icon-pic best__icon-pic_meat">
            <use xlink:href="./images/sprite/sprite.svg#meat"></use>
          </svg>
        </div>
        <div class="best__info">
          <div class="best__title">100% Свежее мясо</div>
          <div class="best__text">
            <p>
              Драма представляет собой деструктивный цикл. Анапест представляет
              собой анапест. Ямб неравномерен.
            </p>
          </div>
        </div>
      </li>
      <li class="best__item">
        <div class="best__icon">
          <svg class="best__icon-pic best__icon-pic_hand">
            <use xlink:href="./images/sprite/sprite.svg#hand"></use>
          </svg>
        </div>
        <div class="best__info">
          <div class="best__title">Ручная работа</div>
          <div class="best__text">
            <p>
              Драма представляет собой деструктивный цикл. Анапест представляет
              собой анапест. Первое полустишие притягивает сюжетный
              реформаторский пафос.
            </p>
          </div>
        </div>
      </li>
      <li class="best__item">
        <div class="best__icon">
          <svg class="best__icon-pic best__icon-pic_natural">
            <use xlink:href="./images/sprite/sprite.svg#natural"></use>
          </svg>
        </div>
        <div class="best__info">
          <div class="best__title">Натуральные ингредиенты</div>
          <div class="best__text">
            <p>
              Драма представляет собой деструктивный цикл. Анапест представляет
              собой анапест.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
