<section class="section reviews">
  <ul class="reviews__list">
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-1.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-2.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-3.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-4.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-5.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-6.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-7.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li
      class="reviews__item"
      style="background-image: url('./images/content/photo-8.png')"
    >
      <div class="reviews__hover">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
        <a href="#" class="btn btn_color_dark">подробнее</a>
      </div>
    </li>
    <li class="coontainer">
      <a class="cllose" href="#">x</a>
      <div class="coontent">
        <div class="reviews__title">константин спилберг</div>
        <div class="reviews__text">
          <p>
            Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно
            забыть... Никогда не думал, что булочки могут быть такими мягкими,
            котлетка такой сочной, а сыр таким расплавленным.
          </p>
        </div>
      </div>
    </li>
  </ul>
  <div class="overrlay"></div>
</section>
