<section class="section slider">
  <div class="container container_slider">
    <div class="page-control page-control_prev" id="left">
      <svg class="slider-left_img">
        <use xlink:href="./images/sprite/sprite.svg#arrow-scroll"></use>
      </svg>
    </div>
    <div class="slider-wrap">
      <div class="slider-list" id="items">
        <div class="slider-item">
          <div class="slider-left">
            <div class="composition-wrap">
              <div class="composition">
                <svg class="composition-img">
                  <use xlink:href="./images/sprite/sprite.svg#burger"></use>
                </svg>
                <span class="composition-text">состав</span>
              </div>
            </div>
            <div class="composition-descr">
              <ul class="composition__list">
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#beef"></use>
                  </svg>
                  <div class="composition__item-name">Говядина</div>
                  <div class="composition__item-gr">300г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#buns"></use>
                  </svg>
                  <div class="composition__item-name">Булочки</div>
                  <div class="composition__item-gr">100г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#salad"></use>
                  </svg>
                  <div class="composition__item-name">Зелень</div>
                  <div class="composition__item-gr">70г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#sauce"></use>
                  </svg>
                  <div class="composition__item-name">Соус</div>
                  <div class="composition__item-gr">150г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#cucumber"></use>
                  </svg>
                  <div class="composition__item-name">Овощи</div>
                  <div class="composition__item-gr">200г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#cheese"></use>
                  </svg>
                  <div class="composition__item-name">Сыр</div>
                  <div class="composition__item-gr">80г.</div>
                </li>
              </ul>
            </div>
            <img
              src="./images/content/burger_chicken.png"
              alt=""
              class="slider-img"
            />
            <div class="calories-wrap">
              <div class="calories">
                <svg class="calories-img">
                  <use xlink:href="./images/sprite/sprite.svg#kkal"></use>
                  <text x="14" y="46" class="kkal">800</text>
                </svg>
                <span class="calories-text">ккал</span>
              </div>
            </div>
          </div>
          <div class="slider-right">
            <div class="section-title section-title_color_white">
              chicken burger
            </div>
            <div class="slider-right__descr">
              Ваш старый добрый знакомый, с рубленным бифштексом из 100%
              говядины, тремя кусочками нежнейшего сыра эмменталь, двумя
              помидорами, луком, салатом и соусом гриль теперь с добавлением
              экзотического соуса чураско.
            </div>
            <div class="slider-right__price">
              <span class="section-title section-title_color_red"
                >430<span class="section-title_currency">рублей</span></span
              >
              <a href="#" class="btn">заказать</a>
            </div>
          </div>
        </div>
        <div class="slider-item">
          <div class="slider-left">
            <div class="composition-wrap">
              <div class="composition">
                <svg class="composition-img">
                  <use xlink:href="./images/sprite/sprite.svg#burger"></use>
                </svg>
                <span class="composition-text">состав</span>
              </div>
            </div>
            <div class="composition-descr">
              <ul class="composition__list">
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#beef"></use>
                  </svg>
                  <div class="composition__item-name">Говядина</div>
                  <div class="composition__item-gr">300г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#buns"></use>
                  </svg>
                  <div class="composition__item-name">Булочки</div>
                  <div class="composition__item-gr">100г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#salad"></use>
                  </svg>
                  <div class="composition__item-name">Зелень</div>
                  <div class="composition__item-gr">70г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#sauce"></use>
                  </svg>
                  <div class="composition__item-name">Соус</div>
                  <div class="composition__item-gr">150г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#cucumber"></use>
                  </svg>
                  <div class="composition__item-name">Овощи</div>
                  <div class="composition__item-gr">200г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#cheese"></use>
                  </svg>
                  <div class="composition__item-name">Сыр</div>
                  <div class="composition__item-gr">80г.</div>
                </li>
              </ul>
            </div>
            <img
              src="./images/content/burger_dark.png"
              alt=""
              class="slider-img"
            />
            <div class="calories-wrap">
              <div class="calories">
                <svg class="calories-img">
                  <use xlink:href="./images/sprite/sprite.svg#kkal"></use>
                  <text x="14" y="46" class="kkal">1200</text>
                </svg>
                <span class="calories-text">ккал</span>
              </div>
            </div>
          </div>
          <div class="slider-right">
            <div class="section-title section-title_color_white">
              dark beef burger
            </div>
            <div class="slider-right__descr">
              Ваш старый добрый знакомый, с рубленным бифштексом из 100%
              говядины, тремя кусочками нежнейшего сыра эмменталь, двумя
              помидорами, луком, салатом и соусом гриль теперь с добавлением
              экзотического соуса чураско.
            </div>
            <div class="slider-right__price">
              <span class="section-title section-title_color_red"
                >500<span class="section-title_currency">рублей</span></span
              >
              <a href="#" class="btn">заказать</a>
            </div>
          </div>
        </div>
        <div class="slider-item">
          <div class="slider-left">
            <div class="composition-wrap">
              <div class="composition">
                <svg class="composition-img">
                  <use xlink:href="./images/sprite/sprite.svg#burger"></use>
                </svg>
                <span class="composition-text">состав</span>
              </div>
            </div>
            <div class="composition-descr">
              <ul class="composition__list">
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#beef"></use>
                  </svg>
                  <div class="composition__item-name">Говядина</div>
                  <div class="composition__item-gr">300г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#buns"></use>
                  </svg>
                  <div class="composition__item-name">Булочки</div>
                  <div class="composition__item-gr">100г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#salad"></use>
                  </svg>
                  <div class="composition__item-name">Зелень</div>
                  <div class="composition__item-gr">70г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#sauce"></use>
                  </svg>
                  <div class="composition__item-name">Соус</div>
                  <div class="composition__item-gr">150г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#cucumber"></use>
                  </svg>
                  <div class="composition__item-name">Овощи</div>
                  <div class="composition__item-gr">200г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#cheese"></use>
                  </svg>
                  <div class="composition__item-name">Сыр</div>
                  <div class="composition__item-gr">80г.</div>
                </li>
              </ul>
            </div>
            <img
              src="./images/content/burger_sandwich.png"
              alt=""
              class="slider-img"
            />
            <div class="calories-wrap">
              <div class="calories">
                <svg class="calories-img">
                  <use xlink:href="./images/sprite/sprite.svg#kkal"></use>
                  <text x="14" y="46" class="kkal">750</text>
                </svg>
                <span class="calories-text">ккал</span>
              </div>
            </div>
          </div>
          <div class="slider-right">
            <div class="section-title section-title_color_white">
              sandwich burger
            </div>
            <div class="slider-right__descr">
              Ваш старый добрый знакомый, с рубленным бифштексом из 100%
              говядины, тремя кусочками нежнейшего сыра эмменталь, двумя
              помидорами, луком, салатом и соусом гриль теперь с добавлением
              экзотического соуса чураско.
            </div>
            <div class="slider-right__price">
              <span class="section-title section-title_color_red"
                >350<span class="section-title_currency">рублей</span></span
              >
              <a href="#" class="btn">заказать</a>
            </div>
          </div>
        </div>
        <div class="slider-item">
          <div class="slider-left">
            <div class="composition-wrap">
              <div class="composition">
                <svg class="composition-img">
                  <use xlink:href="./images/sprite/sprite.svg#burger"></use>
                </svg>
                <span class="composition-text">состав</span>
              </div>
            </div>
            <div class="composition-descr">
              <ul class="composition__list">
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#beef"></use>
                  </svg>
                  <div class="composition__item-name">Говядина</div>
                  <div class="composition__item-gr">300г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#buns"></use>
                  </svg>
                  <div class="composition__item-name">Булочки</div>
                  <div class="composition__item-gr">100г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#salad"></use>
                  </svg>
                  <div class="composition__item-name">Зелень</div>
                  <div class="composition__item-gr">70г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #e25028">
                    <use xlink:href="./images/sprite/sprite.svg#sauce"></use>
                  </svg>
                  <div class="composition__item-name">Соус</div>
                  <div class="composition__item-gr">150г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #8ac03e">
                    <use xlink:href="./images/sprite/sprite.svg#cucumber"></use>
                  </svg>
                  <div class="composition__item-name">Овощи</div>
                  <div class="composition__item-gr">200г.</div>
                </li>
                <li class="composition__item">
                  <svg class="composition__item-img" style="fill: #f8b43a">
                    <use xlink:href="./images/sprite/sprite.svg#cheese"></use>
                  </svg>
                  <div class="composition__item-name">Сыр</div>
                  <div class="composition__item-gr">80г.</div>
                </li>
              </ul>
            </div>
            <img
              src="./images/content/diner_bacon_cheeseburger.png"
              alt=""
              class="slider-img"
            />
            <div class="calories-wrap">
              <div class="calories">
                <svg class="calories-img">
                  <use xlink:href="./images/sprite/sprite.svg#kkal"></use>
                  <text x="14" y="46" class="kkal">900</text>
                </svg>
                <span class="calories-text">ккал</span>
              </div>
            </div>
          </div>
          <div class="slider-right">
            <div class="section-title section-title_color_white">
              diner bacon cheeseburger
            </div>
            <div class="slider-right__descr">
              Ваш старый добрый знакомый, с рубленным бифштексом из 100%
              говядины, тремя кусочками нежнейшего сыра эмменталь, двумя
              помидорами, луком, салатом и соусом гриль теперь с добавлением
              экзотического соуса чураско.
            </div>
            <div class="slider-right__price">
              <span class="section-title section-title_color_red"
                >500<span class="section-title_currency">рублей</span></span
              >
              <a href="#" class="btn">заказать</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-control page-control_next" id="right">
      <svg class="slider-right_img">
        <use xlink:href="./images/sprite/sprite.svg#arrow-scroll"></use>
      </svg>
    </div>
  </div>
</section>
