<section class="section team" id="slider">
  <div class="team__wrapper">
    <div class="team__content-wrap">
      <div class="team__content">
        <h2 class="section-title">команда</h2>
        <ul class="team-list">
          <li class="team-list__item">
            <div class="team-list__title">дениэл редклиф</div>
            <div class="team-list__content">
              <div class="team-list__img-wrap">
                <div class="team-list__img">
                  <img src="./images/content/aphex.png" alt="Оператор" class="team-list__pic" />
                </div>
              </div>
              <div class="team-list__descr">
                <div class="team-list__descr-title">Оператор</div>
                <div class="team-list__descr-text">
                  С радостью поможет подобрать идеальный бургер и оформить
                  заказ.
                </div>
              </div>
            </div>
          </li>
          <li class="team-list__item">
            <div class="team-list__title">ричард джеймс</div>
            <div class="team-list__content">
              <div class="team-list__img-wrap">
                <div class="team-list__img">
                  <img src="./images/content/aphex.png" alt="Оператор" class="team-list__pic" />
                </div>
              </div>
              <div class="team-list__descr">
                <div class="team-list__descr-title">Оператор</div>
                <div class="team-list__descr-text">
                  С радостью поможет подобрать идеальный бургер и оформить
                  заказ.
                </div>
              </div>
            </div>
          </li>
          <li class="team-list__item">
            <div class="team-list__title">джейк финн</div>
            <div class="team-list__content">
              <div class="team-list__img-wrap">
                <div class="team-list__img">
                  <img src="./images/content/aphex.png" alt="Оператор" class="team-list__pic" />
                </div>
              </div>
              <div class="team-list__descr">
                <div class="team-list__descr-title">Оператор</div>
                <div class="team-list__descr-text">
                  С радостью поможет подобрать идеальный бургер и оформить
                  заказ.
                </div>
              </div>
            </div>
          </li>
          <li class="team-list__item">
            <div class="team-list__title">николай иванов</div>
            <div class="team-list__content">
              <div class="team-list__img-wrap">
                <div class="team-list__img">
                  <img src="./images/content/aphex.png" alt="Оператор" class="team-list__pic" />
                </div>
              </div>
              <div class="team-list__descr">
                <div class="team-list__descr-title">Оператор</div>
                <div class="team-list__descr-text">
                  С радостью поможет подобрать идеальный бургер и оформить
                  заказ.
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
