@font-face {
  font-family: 'lifehack-medium';
  src: url('../../fonts/lifehack/medium/lifehack_medium-webfont.woff2') format('woff2'),
    url('../../fonts/lifehack/medium/lifehack_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gagalin-regular';
  src: url('../../fonts/gagalin/regular/gagalin-regular-webfont.woff2') format('woff2'),
    url('../../fonts/gagalin/regular/gagalin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../../fonts/ubuntu/bold/ubuntu-b-webfont.woff2') format('woff2'),
    url('../../fonts/ubuntu/bold/ubuntu-b-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../../fonts/ubuntu/light/ubuntu-light-webfont.woff2') format('woff2'),
    url('../../fonts/ubuntu/light/ubuntu-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../../fonts/ubuntu/medium/ubuntu-medium-webfont.woff2') format('woff2'),
    url('../../fonts/ubuntu/medium/ubuntu-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../../fonts/ubuntu/regular/ubuntu-regular-webfont.woff2') format('woff2'),
    url('../../fonts/ubuntu/regular/ubuntu-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin gagalin() {
  font-family: 'gagalin-regular', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
  font-family: 'ubuntu', Helvetica, sans-serif;

  @if $style ==light {
    font-weight: 300;
  }

  @if $style ==medium {
    font-weight: 500;
  }

  @if $style ==bold {
    font-weight: bold;
  }
}

@mixin lifehack() {
  font-family: 'lifehack-medium';
}
