@use "sass:math";

//fonts

@import "config/fonts.scss";

//config

@import "config/_variables.scss";
@import "config/_mixins.scss";

//base

@import "layout/_fonts.scss";
@import "layout/_base.scss";
@import "layout/_adjustment.scss";

//sections

@import "section/_greeting.scss";
@import "section/_best.scss";
@import "section/_slider.scss";
@import "section/_team.scss";
@import "section/_menu.scss";
@import "section/_reviews.scss";
@import "section/_order.scss";
@import "section/_form.scss";
@import "section/_contacts.scss";
